# MT5 EA config file
# Put this file in the MT5 Files\Common folder if ConfigFileInCommon=true.

VPS_API_BASE=http://127.0.0.1:8780
WORKER_TOKEN=CHANGE_ME_TO_A_STRONG_RANDOM_TOKEN
WORKER_ID=macos-mt5-local-01
DRY_RUN=true
MT5_MAGIC=552501
POLL_SECONDS=1
HEARTBEAT_SECONDS=10
REQUEST_TIMEOUT_MS=5000
